* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    background: linear-gradient(#fffb00 , #fffc57 , #fffecf); 
}

.botao-modos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5px;
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(251, 253, 253, 0.6);
    border: 1px solid black;
    height: 30px;
    color: black;   
}

.botao-modos > a {
    text-decoration: none;
    color: black;
}

.tela-cheia {
    margin: 1.5px;
}

.botao-tela-cheia {
    color: black;
    background-color: rgba(223, 223, 223, 0.6);
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    padding: 2px;
}

.divTitulos {
    padding: 20px;
    margin: 0;
}

.titulo {
    color: black;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.521); 
}

#caixa-jogo {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.caixa {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.caixa:nth-child(3n) {
    border-right: none;
}
.caixa:nth-child(6) ~ .caixa {
    border-bottom: none;
} 

.botao-reiniciar {
    display: flex;
    align-items: center;
    margin: 1.5px;
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(223, 223, 223, 0.6);
    border: 1px solid black;
    height: 30px;
    color: black;   
}

.botao-reiniciar:hover {
    background-color: rgb(212, 212, 212);
    transition: background-color 1.0s;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}

.placar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.placar > div {
    padding-right: 15px;
}

